:root{ 
    --PastelDarkPurple:#1c191b;
    --PastelLightPurple:#242124;
    --PastelPopPink:#b958cc;
    --PastelLightBlue:#1d3a47;
    --PastelGreen:#1c7383;
    --PastelRed:#dd5050;
    --PastelWhite: #ffffff;
    --PastelClick: #7ae9e0;
    --PastelExpand1: #4bda97;
    --PastelExpand2: #da7fda;
    --PastelExpand3: #da7fda;
    --PastelPopUp: #ece578;
} 

@font-face {
    font-family: 'Pixel-Font';
    src: url(Font/VT323-Regular.ttf);
}

@font-face {
    font-family: 'Gridular-Font';
    src: url(Font/Gridular-Regular.otf);
}

@font-face {
    font-family: 'Dot-Font';
    src: url(Font/DotGothic16-Regular.ttf);
}

#no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
}

a{
    text-decoration: none;
}

html{
    background-color: var(--PastelDarkPurple);
    padding: 5rem;
}

body{
    background-color: var(--PastelLightPurple);
    margin: auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
    padding-right: 1rem;
    border-radius: 2rem;
    max-width: 1600px;
    min-width: 800px;
}

table{
    max-width: 100%;
}

ul{
    margin: auto;
}

li{
    margin: auto;
}

.all-content{
    width: auto;
}

@media screen and (min-width: 320px) { 
    body{
        zoom: 10%;
    }
} /* Need more testing on resolution */ 

@media screen and (min-width: 1280px) { 
    body{
        zoom: 67%;
    }
} /* Need more testing on resolution */  

@media screen and (min-width: 1366px) { 
    body{
        zoom: 72%;
    }
} /* Need more testing on resolution */  

@media screen and (min-width: 1440px) { 
    body{
        zoom: 75%;
    }
} /* Need more testing on resolution */  

@media screen and (min-width: 1536px) { 
    body{
        zoom: 80%;
    }
} /* Need more testing on resolution */  

@media screen and (min-width: 1600px) { 
    body{
        zoom: 83%;
    }
} /* Need more testing on resolution */  

@media screen and (min-width: 1920px) { 
    body{
        zoom: 100%;
    }
} /* Need more testing on resolution */  

@media screen and (min-width: 3840px) { 
    body{
        zoom: 201%;
    }
} /* Need more testing on resolution */  

@media screen and (min-width: 4096px) { 
    body{
        zoom: 214%;
    }
} /* Need more testing on resolution */  

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 25px;
    background-color: var(--PastelPopUp);
    border: 5px solid var(--PastelWhite);
    text-align: center;
    z-index: 9999;
}

.popupbg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

.ok-button{
    margin: auto;
    width: 6rem;
    padding: 0.3rem;
    font-size: 1.5rem;
}

.popup-text1{
    padding: 10px;
    margin: auto;
    font-weight: normal;
    font-family: 'Pixel-Font';
    font-size: 4rem;
    color: var(--PastelRed);
}

.popup-text2{
    margin: auto;
    padding-bottom: 20px;
    font-weight: normal;
    font-family: 'Pixel-Font';
    font-size: 3rem;
    color: var(--PastelRed);
}

.popup-text3{
    margin-left: 3rem;
    padding-bottom: 1rem;
    text-align: left;
    font-weight: normal;
    font-family: 'Pixel-Font';
    font-size: 2.3rem;
    color: var(--PastelRed);
}

.title{
    padding-top: 2rem;
}

.hello{
    width: fit-content;
    height: 3rem;
    float: left;
    margin-top: 3rem;
    border-radius: 1rem;
}

.hello-text{
    font-weight: normal;
    text-align:  left;
    font-family: 'Pixel-Font';
    color: var(--PastelWhite);
    font-size: 3.5rem;
    text-align: center;
    margin-top: -0.2rem;
}

h1{
    font-weight: normal;
    text-align:  left;
    font-family: 'Pixel-Font';
    font-size: 2.5rem;
    color: var(--PastelPopPink);
    margin-top: 7rem;
}

h2{
    font-weight: normal;
    font-family: 'Pixel-Font';
    font-size: 2rem;
    color: var(--PastelWhite);
    margin-left: 1%;
    margin-right: 4%;
}

h3{
    font-weight: normal;
    text-align: center;
    font-family: 'Pixel-Font';
    font-size: 3rem;
    color: var(--PastelPopPink);
    text-decoration: underline;
    margin: auto;
}

h4{
    width: 80%;
    margin: auto;
    font-weight: normal;
    text-align: center;
    font-family: 'Pixel-Font';
    font-size: 1.8rem;
    color: var(--PastelWhite);
}

h5{
    font-weight: normal;
    font-family: 'Pixel-Font';
    font-size: 4rem;
    color: var(--PastelRed);
    margin-left: 12%;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

h6{
    font-weight: normal;
    font-family: 'Pixel-Font';
    font-size: 3rem;
    color: var(--PastelWhite);
    text-align: center;
    margin-top: 30%;
}

h7{
    font-weight: normal;
    text-align: center;
    font-family: 'Pixel-Font';
    font-size: 3rem;
    color: var(--PastelPopPink);
}

h8{
    font-weight: normal;
    text-align: center;
    font-family: 'Pixel-Font';
    font-size: 3rem;
    color: var(--PastelGreen);
}

h9{
    font-weight: normal;
    font-family: 'Pixel-Font';
    font-size: 3rem;
    color: var(--PastelGreen) ;
}

h10{
    font-weight: normal;
    text-align: center;
    font-family: 'Pixel-Font';
    font-size: 1.5rem;
    margin: 0.5rem;
}

h11{
    font-weight: normal;
    text-align: center;
    font-family: 'Pixel-Font';
    margin-left: 5rem;
    font-size: 3rem;
    color: var(--PastelRed);
}

h12{
    position: relative;
    top: 1.5rem;
    left: 8rem;
    width: 80%;
    margin: auto;
    font-weight: normal;
    text-align: center;
    font-family: 'Pixel-Font';
    font-size: 1.8rem;
    color: var(--PastelWhite);
}

h13{
    position: relative;
    top: 1.5rem;
    left: 1.5rem;
    width: 80%;
    margin: auto;
    font-weight: normal;
    text-align: center;
    font-family: 'Pixel-Font';
    font-size: 1.8rem;
    color: var(--PastelWhite);
}

h14{
    font-weight: normal;
    text-align: center;
    font-family: 'Pixel-Font';
    margin-left: 5rem;
    font-size: 3rem;
    color: var(--PastelRed);
}

/* Dump h15{
} */

h16{
    font-weight: normal;
    text-align: center;
    font-family: 'Pixel-Font';
    margin-left: 5rem;
    font-size: 3rem;
    color: var(--PastelRed);
}

ul{
    color: var(--PastelGreen) ;
    font-size: 2rem;
    margin-left: 3.5%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.2rem;
}

.box-external{
    position: relative;
    top: 0.5rem;
    width: 100%;
    margin: auto;
}

.box-external-bg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--PastelDarkPurple);
    width: 93%;
    height: 100%;
    padding-bottom: 2rem;
    margin-top: -0.8rem;
    border-radius: 1rem;
}

.box{
    background-color: var(--PastelGreen);
    width: 80%;
    margin: auto;
    padding: 0.5rem;
    border-radius: 1rem;
}

.box-end{
    background-color: var(--PastelWhite);
    width: 80%;
    margin: auto;
    padding: 0.5rem;
    border-radius: 1rem;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.box-end:hover{
    transform: scale(1.05);
}

.box-personal{
    margin-left: 10%;
}

.box-personal-content{
    background-color: var(--PastelLightBlue);
    padding: 0.5rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    margin-right: 20px;
}

.box-personal-content-M{
    background-color: var(--PastelWhite);
    padding: 0.5rem;
    border-radius: 1rem;
    margin-right: 20px;
}

.base-doko{
    margin: auto;
    width: 80%;
}

.box-doko{
    overflow: hidden;
    border: 5px solid white;
    border-radius: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.size-doko{
    width: 100%;
    height: 100%;
}

.margin-doko{
    margin: auto;
}

.box-backgroundmini{
    background-color: var(--PastelLightBlue);
    width: 80%;
    height: auto;
    margin: auto;
    border-radius: 1rem;
    box-shadow: -10px 10px 0px var(--PastelGreen);
    overflow: hidden;
}

.box-contentmini{
    background-color: black;
    border-radius: 1rem;
    overflow: hidden;
    border: 10px solid white;
    position: relative;
    transition: all 0.3s ease;
    box-shadow: -10px 10px 0px var(--PastelLightPurple);
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    margin-right: 2.5rem;
    margin-left: 3rem;
}

.minicontent{
    margin: auto;
    width: 100%;
    height: 100%;
}

.minicontent-table{
    margin: auto;
}

.text-contentmini{
    position: absolute;
    height: 40rem;
    width: 100%;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(255, 255, 255, 0));
    opacity: 0;
    transition: opacity 0.3s ease;
}

.box-contentmini:hover .text-contentmini{
    opacity: 1;
}

.box-background{
    background-color: var(--PastelLightBlue);
    width: 80%;
    height: auto;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    box-shadow: -10px 10px 0px var(--PastelGreen);
}

.box-content{
    height: 100%;
    position: absolute;
    top: 0%;
    z-index: 1;
    right: -2%;
    border-radius: 1rem;
    margin: auto;
}


.box-project{
    background-color: var(--PastelLightBlue);
    width: 30rem;
    height: 18rem;
    padding: 1.5rem;
    margin-right: auto;
    z-index: 2;
    position: relative;
}

.logo{
    width: 7rem;
    height: 7rem;
    float: left;
    background-color: white;
    border: 0.3rem solid var(--PastelGreen);
    border-radius: 2rem;
    margin-top: 2.5rem;
    margin-left: 5%;
    margin-right: 1.8rem;
}

.content{
    overflow: hidden;
    border-radius: inherit;
}

.resized-logo{
    width: 7rem;
    height: 7rem;
}

.resized-icon{
    width: inherit;
    height: inherit;
}

.social-icon{
    width: 4rem;
    height: auto;
    float: right;
    margin-top: 80px;
    border-radius: 4rem;
    margin-right: 10px;
}

.margin-icon{
    margin-right: 5%;
}

#clickable-icon{
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

#clickable-icon:hover{
    transform: scale(1.1);
}

.custom-line{
    width: 90%;
    height: 5px;
    border: 5px dotted rgb(54, 45, 56);
}

.roles-box{
    width: 80%;
    height: auto;
    margin: auto;
    border-radius: 2rem;
    position: relative;
    padding-bottom: 2rem;
}

.roles-lining{
    position: absolute;
    top: 4.8rem;
    left: 6rem;
    background-color: var(--PastelWhite);
    width: 4px;
    height: 75px;
    float: left;
}

.roles-boxlining{
    position: absolute;
    top: 10rem;
    left: 6rem;
    background-color: var(--PastelWhite);
    width: 4px;
    height: 4px;
    float: left;
}

.roles-boxlining-dot{
    margin-top: 2.3rem;
    margin-left: 5.4rem;
    background-color: var(--PastelWhite);
    width: 4px;
    height: 4px;
    float: left;
}

.clickme-button{
    position: relative;
    bottom: 5px;
    left: 10px;
    background-color: var(--PastelClick);
    border-radius: 1rem;
    height: 3rem;
    width: 30%;
    margin: auto;
}

.clickme-text{
    position: relative;
    top: 0.45rem;
    margin: auto;
    font-size: 2rem;
    color: black;
    font-weight: normal;
    text-align: center;
    font-family: 'Pixel-Font';
}

.arc-box{
    margin: auto;
    width: 65rem;
    height: 45rem;
    border-radius: 1rem;
    border: 0.3rem solid var(--PastelGreen);
    overflow: hidden;
}

.arc-box-long{
    position: relative;
    top: -18px;
    margin: auto;
    width: 65rem;
    height: auto;
    border-radius: 1rem;
    border: 0.3rem solid var(--PastelGreen);
    overflow: hidden;
}

.vid-box{
    margin: auto;
    width: 65rem;
    border-radius: 1rem;
    border: 0.3rem solid var(--PastelGreen);
    overflow: hidden;
}

.ab-box-long{
    position: relative;
    margin: auto;
    width: 65rem;
    height: 45rem;
    border-radius: 1rem;
    border: 0.3rem solid var(--PastelGreen);
    overflow: hidden;
}

.arc-content{
    z-index: 1;
    width: 100%;
}

.arc-scroll{
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.bar-expandable{
    position: relative;
    background-color: var(--PastelExpand1);
    cursor: pointer;
    padding: 10px;
    height: 1rem;
    width: 80%;
    margin: auto;
    transition: height 0.5s;
    border-radius: 1rem;
}

.bar-expandable-AMap{
    position: relative;
    top: -5px;
    background-color: var(--PastelExpand2);
    cursor: pointer;
    padding: 10px;
    height: 1rem;
    width: 70%;
    margin: auto;
    transition: height 0.5s;
    border-radius: 1rem;
}

.bar-expandable-EXMap{
    position: relative;
    top: -5px;
    background-color: var(--PastelExpand3);
    cursor: pointer;
    padding: 10px;
    height: 1.5rem;
    width: 70%;
    margin: auto;
    transition: height 0.5s;
    border-radius: 1rem;
}

.bar-skip{
    position: relative;
    width: 85%;
    margin: auto;
    border-top: 8px dotted var(--PastelClick);
}

.content-expandable{
    position: relative;
    overflow: hidden;
    height: 0;
    transition: height 0.5s;
}

.content-expandable.show{
    height: auto;
}

.hidden{
    display: none;
}

.text-expandable{
    position: relative;
    top: -0.5rem;
    width: 80%;
    margin: auto;
    font-weight: normal;
    text-align: center;
    font-family: 'Pixel-Font';
    font-size: 1.8rem;
    color: black;
}

.text-expandable-pop{
    position: relative;
    top: -0.6rem;
    width: 80%;
    margin: auto;
    font-weight: normal;
    text-align: center;
    font-family: 'Pixel-Font';
    font-size: 2.5rem;
    color: black;
}

.slime-box{
    position: relative;
    margin: auto;
    width: 65rem;
    height: 32.5rem;
    border-radius: 1rem;
    border: 0.3rem solid var(--PastelGreen);
}

#slime-content{
    position: relative;
    z-index: 1;
    width: 100%;
    border-radius: 1rem;
    margin: auto;
}

#arcs-content{
    position: relative;
    z-index: 1;
    width: 100%;
    border-radius: 1rem;
    margin: auto;
}

#abc-content{
    position: relative;
    z-index: 1;
    width: 100%;
    border-radius: 1rem;
    margin: auto;
    image-rendering: pixelated;
}

#SSR-content{
    position: relative;
    z-index: 1;
    width: 100%;
    border-radius: 1rem;
    margin: auto;
    image-rendering: pixelated;
}

#xtra-content{
    position: relative;
    z-index: 1;
    width: 100%;
    border-radius: 1rem;
    margin: auto;
}

#left-button{
    position: absolute;
    float: left;
    top: 45%;
    left: -6rem;
    z-index: 10;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

#right-button{
    position: absolute;
    float: right;
    top: 45%;
    right: -6rem;
    z-index: 10;
    transform: scalex(-1);
    cursor: pointer;
}

#left-button:hover{
    animation: left-arrow 0.3s ease-in-out 2;
}

#right-button:hover{
    animation: right-arrow 0.3s ease-in-out 2;
}

@keyframes left-arrow {
    0% {
        transform: translatex(0);
      }
      50% {
        transform: translatex(-5px);
      }
      100% {
        transform: translatex(0);
      }
  }

@keyframes right-arrow {
    0% {
        transform: translatex(0) scaleX(-1);
      }
      50% {
        transform: translatex(5px) scaleX(-1);
      }
      100% {
        transform: translatex(0) scaleX(-1);
      }
  }