:root{
    --PastelPink:#EAC7C7;
    --PastelLightPink:#f5e5e5;
    --PastelLightBlue:#cae6f1;
    --PastelBlue:#A0C3D2;
}

/* Card */

.card-1{
    width: 35rem;
    height: 35rem;
    margin: auto;
    padding: 1rem;
    text-align: center;
    border: 0.2rem solid var(--PastelPink);
    border-radius: 4rem;
    position: relative;
}

.card-2{
    width: 35rem;
    height: 35rem;
    margin: auto;
    padding: 1rem;
    text-align: center;
    border: 0.2rem solid var(--PastelBlue);
    border-radius: 4rem;
    position: relative;
}

/* Card Text*/

.card-TT1{
    font-size: 1.5rem;
    letter-spacing: 0.2rem; /* Test */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    
    
}

.card-TT2{
    font-size: 1.5rem;
    letter-spacing: 0.2rem; /* Test */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.card-T1{
    color: pink;
    text-decoration: underline;
    
}

.card-T2{
    color: rgb(43, 195, 255);
    text-decoration: underline;
}

/* Card Icon*/

.card-C1{
    width: 7rem;
    height: 7rem;
    background-color: var(--PastelPink);
    border-radius: 4rem;
    margin: auto;
}

.card-C2{
    width: 7rem;
    height: 7rem;
    background-color: var(--PastelBlue);
    border-radius: 4rem;
    margin: auto;
}

/* Card Button*/

.card-B1{
    background-color: var(--PastelLightPink);
    width: 8rem;
    height: 4rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: var(--PastelPink);
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.card-B2{
    background-color: var(--PastelLightBlue);
    width: 8rem;
    height: 4rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: var(--PastelBlue);
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}